@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

.nav__brand {
  display: flex;
  justify-content: center;
  font-family: "Roboto Mono", monospace;
  color: darkviolet;
  align-items: center;
  padding: 20px;
}

#title {
  color: darkviolet;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
  font-family: "Roboto Mono", monospace !important;
  background-color: darkviolet !important;
  font-size: x-large !important;
}

.nav__brand img {
  max-width: 125px;
  height: auto;
}

body {
  margin: 0;
  font-family: "Roboto Mono", monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* ------------------------------------------------------ */
/* -- HEADER -- */

header {
  background-image: url("./assets/banner.jpg");
  background-position: center;
  background-size: cover;
  opacity: 0.9;
  min-height: 55vh;

  position: relative;
}

.header__title {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);

  color: var(--clr-white);
  font-size: 2em;
  font-family: Roboto Mono, monospace;
  font-size: xxx-large;
  color: white;

  width: 100%;
  text-align: center;
}

.header__search {
  padding: 25px;
  min-width: 40%;

  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: darkviolet;
}

.header__search::placeholder {
  font-family: Roboto Mono, monospace;
  font-size: 1.25em;
  font-weight: 600;
  color: darkviolet;
}

.header__search:hover {
  outline: 1px solid var(--clr-blue);
}

/* ------------------------------------------------------ */
/* -- CARDS -- */

.cards__section {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  font-family: "Roboto Mono", monospace !important;
  color: white;
}

.cards__section h3 {
  margin: 50px 0 20px;
}

.cards {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 350px), 1fr));
  margin-top: 20px;
}

.card {
  background-color: #292b2c;
  border: 1px solid var(--clr-black);
  margin: 10px auto;
  cursor: pointer;
  position: relative;
  transition: all 250ms ease;
  outline-color: darkviolet;
}

.card:hover {
  box-shadow: 1px 1px 5px var(--clr-grey);
}

.card__image {
  position: absolute;
  width: 100%;
  z-index: -1;
}

.card__image img {
  max-width: 100%;
}

.card__info p {
  font-family: "Roboto Mono", monospace !important;
}

/* ------------------------------------------------------ */
/* -- HOMES -- */

.home {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 50%;
  left: 50%;
}

.home__details {
  background: var(--clr-white);
  font-family: "Roboto Mono", monospace !important;
}

.home__details h1 {
  color: white;
}

.home__details .modal-content {
  background-color: #292b2c;
}

.home__image {
  max-width: 500px;
  margin: 20px auto;
  vertical-align: baseline;
}

.home__image img {
  max-width: 100%;
}

.home__overview {
  color: white;
}

.home__overview h1,
.home__overview h2,
.home__overview hr {
  margin: 10px auto;
}

.home__overview ul {
  margin-left: 40px;
}

.home__buy,
.home__contact,
.home__owned {
  margin: 20px 5px;

  background-color: var(--clr-blue);
  color: var(--clr-white);

  border: none;
  border-radius: 4px;

  font-family: "Roboto Mono", monospace !important;
  font-size: 1.10em;
  font-weight: 600;

  cursor: pointer;
  transition: all 250ms ease;
}

.home__buy {
  width: 225px;
  height: 50px;
}

.home__buy:hover {
  background-color: var(--clr-blue-2);
}

.home__contact {
  width: 225px;
  height: 50px;

  border: 1px solid var(--clr-blue) !important;
}

.home__contact:hover {
  background-color: #f7f7f7;
  color: var(--clr-blue-2);
}

.home__owned {
  height: 50px;
  background-color: var(--clr-green) !important;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: default;
}