@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

.nav__brand {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.nav__brand img {
  max-width: 125px;
  height: auto;
}

body {
  margin: 0;
  font-family: "Roboto Mono", monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}